/*
CSS File size: 1kb;
Load time on Android phone: 2 seconds;
*/

.img {
	max-width: 100%;
}

.flex-container {
/*	height: 30vmax; 
	width: 30vmax; */
	display: flex;
	flex-wrap: wrap;
	align-items: stretch;
	margin: auto;
	padding: 0px;
	flex-flow: row-wrap;
}

.flex-item {
	display: inline-block;
	flex-grow: 1;
	width: 20%;
	margin:10px 0 0 10px;
	height: 290px;
}


body {
	padding-left: 15px;
}

main {
	font-family: Arial;
	background: rgb(255,255,255);
}

main > header {
	font-size: 50px;
	font-weight: bold;
	color: #337ab7;
	font-family: Arial;
	text-align: center;
}

main > header > object {
	float: right;
	height: 50px;
	width: 50px;
}

main > nav {
	margin-left: 10px;
	font-size: 100%;
	text-align: center;
}

main > nav > a {
	color: #337ab7;
	margin-right: 30px;
	text-decoration: none;
}

main > form > input {
	width: 300px;
	height: 22px;
	margin-bottom: 5px;
}

main > form > input {
	color: grey;
}

main > label {
	font-size: 16px;
	font-weight: bold;
}

form {
	padding-right: 40px;
}

label {
	display: block;
}

input[type="checkbox"] {
	position: relative;
}

input[type="text"] {
	display: block;
	width: 100%;
	height: 24px;
	padding: 6px 12px;
	font-size: 14px;
	line-height: 1.42857143;
	color: #555;
	background-color: #fff;
	background-image: none;
	border: 1px solid #ccc;
	border-radius: 4px;
}
/*
.inline-block {
	float: left;
}*/

button {
    background-color: #337ab7;
    border: none;
	border-radius: 4px;
    color: white;
    padding: 9px 18px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
}

footer {
	position: relative;
	right: 0;
	left: 0;
	bottom: 0;
	padding: 1rem;
	font-family: "Arial";
	font-size: 14px;
	line-height: 1.42857143;
	color: #777;
}