/* Hint: use relative measurements you'll find them useful! */

@import url("https://fonts.googleapis.com/css?family=Monoton");  /* Set this for Monton...figure out their syntax */

* {
    box-sizing: border-box;
}

body {
    background-image: url("./background.png");
    background-attachment: fixed;
}

main {
    background: rgb(255,255,255);
    border-width: 50px;
    border-style: solid;
    border-image: url(border.gif) 20% round;
    width: 80%;
    height: 80%;
    margin: auto;
    position: relative;
    top: -150px;
}


a:link    {
    text-decoration:  none;
    font-weight:      bold;
    background-color: #ddd;
    color:            blue;
}

.logo {
    padding-top: 40px;
    display:inline-block;
    text-align: center;
    position: center;
    width: 200px;
    height: 100px;
    background: rgb(255,105,180);
    -moz-border-radius: 100px / 50px;
    -webkit-border-radius: 100px / 50px;
    border-radius: 100px / 50px;
    margin: 50px;
    box-shadow: 0px 40px 20px -28px #000000;

    font-family: Monoton;
    font-size: 70px;
    font-style: normal;
    font-variant: normal;
    font-weight: 500;
    line-height: 26px;

}

.fun {
    font-size: 80px;
    -webkit-text-stroke: 1px red;
    -webkit-text-fill-color: white;
    -webkit-box-reflect: below;
    -webkit-box-reflect: below -35px linear-gradient(transparent, white);
    text-transform: uppercase;
    text-shadow: red 0 -2px;
    font-family: courier;
    float: right;


}

@media only screen
and (min-device-width : 320px) {
    section {
        /* color rgb(243,234,95) is used */
    }

    section > div {
        /* font is 'Comic Sans MS, text is automatically adjusted to lowercase do not mod the HTML */
        font-family: "Comic Sans MS";
        text-transform: lowercase;
        -webkit-text-fill-color: white;
        font-size: 14pt;
        height: 60px;
        line-height: 60px;
        text-align: center;
    }

    section > div:nth-child(odd) {
        background: rgb(192, 77, 249);
        position: relative;
        padding-left: 10px;
    }

    section > div:nth-child(even) {
        background: rgb(43, 209, 252);
        position: relative;
        padding-right: 10px;
    }
}

@media only screen
and (min-width : 1224px) {
    section {
        /* color rgb(243,234,95) is used */
        background: rgb(243, 234, 95);
        position: relative;
    }

    section > div {
        /* font is 'Comic Sans MS, text is automatically adjusted to lowercase do not mod the HTML */
        font-family: "Comic Sans MS";
        text-transform: lowercase;
        -webkit-text-fill-color: white;
        font-size: 14pt;
        height: 60px;
        line-height: 60px;
    }

    section > div:nth-child(odd) {
        background: rgb(192, 77, 249);
        position: relative;
        text-align: left;
        left: 50%;
        width: 50%;
        padding-left: 10px;
    }

    section > div:nth-child(even) {
        background: rgb(43, 209, 252);
        position: relative;
        text-align: right;
        width: 50%;
        padding-right: 10px;
    }
}

section > div:nth-child(1) {
    top: 180px;
}

section > div:nth-child(2) {
    top: 60px;
}

section > div:nth-child(3) {
    top: -60px;
}

section > div:nth-child(4) {
    top: -180px;
}

section > div:nth-child(3):after {
    /* gave you the nth child after selector for free to inspire you */
    /* generated content in here ... a property can do that */
    content: "  ♥♥♥";
}

footer {
    font-family: "Lucida Handwriting";
    text-align: center;
    background-color: rgb(233,106,198);
    margin: -10px -36px -32px -36px;
}

footer > .wrapper > img {
    height: 10%;
    width: 10%;
    position: relative;
    left: 35px;
    margin-top: 20px;
}

/* Properties of "Meow" text */
footer > .wrapper > span {
    position: relative;
    left: 50px;
    top: 25px;
    vertical-align: top;
    width: 320px;
    padding: 10px;
    border: 5px solid black;
    margin: 0;
    border-radius: 10px;
    box-shadow: 1px 4px 2px #888888;
    visibility: hidden;
    background-color: white;
}

/* Show upon hovering over the cat */
footer > .wrapper > img:hover ~ span {
    -webkit-animation: cat-anim 2s linear 1;
    visibility: visible;
}

/* Cat fade-in animation */
@-webkit-keyframes cat-anim {
    0%	{ opacity: 0; }
    100% { opacity: 1; }
}



/* a freebie for fun */
aside {
    background: rgb(255,63,63);
    color: white;
    border: 1rem solid black;
    border-top-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    border-top-right-radius: 3rem;
    border-bottom-left-radius: 3rem;
    font-family: sans-serif;
    font-size: 2rem;
    margin: 1rem 0;
    margin-bottom: 4rem;
    padding-bottom: 60px;
    height: 150px;
    text-align: center;
}

aside > p {
    position: relative;
    top: -3rem;
}

/* Bug properties */
aside > p > svg {
    fill: white;
    width: 4%;
    height: auto;
    vertical-align: middle;
}

/* Animate upon hovering over the bug */
aside > p > svg:hover {
    -webkit-animation: bug-anim 4s linear 1;
    opacity: 0;
}

/* Bug spinning animation */
@-webkit-keyframes bug-anim {
    0%  { opacity: 1; }
    10% { -webkit-transform: scale(5, 5); }
    30% { -webkit-transform: rotate(1080deg); }
    85% { opacity: 1; }
    100% { opacity: 0; }
}


/* Opps truncated the file for you to fill in */

/* Solution given should be below 250 lines, solution we had was below 200 easily */
