/* Hint: use relative measurements you'll find them useful! */

@import url();  /* Set this for Monton...figure out their syntax */

* {
    box-sizing: border-box;
}

body {
    background-image: url("./background.png");
}

main {
    background: rgb(255,255,255);
    border-width: 50px;
    border-style: solid;
    border-image: url(border.gif) 20% round;
    width: 80%;
    height: 80%;
    min-height: 80%;
    margin: auto;
}

header > div > a {
    width: 200px;
    height: 100px;
    background: pink;
    -moz-border-radius: 100px / 50px;
    -webkit-border-radius: 100px / 50px;
    border-radius: 100px / 50px;
    margin: 100px;


    font-family: Monoton;
    font-size: 70px;
    font-style: normal;
    font-variant: normal;
    font-weight: 500;
    line-height: 26px;
    background-image: url("pinkoval.png");


}

header > div > div {
    font-size: 80px;
    -webkit-text-stroke: 1px red;
    -webkit-text-fill-color: white;
    -webkit-box-reflect: below;
    -webkit-box-reflect: below 0 linear-gradient(transparent, white);
    text-transform: uppercase;
    text-shadow: red 0 -2px;
    font-family: courier;
    float: right;


}

section {
    /* color rgb(243,234,95) is used */
    background: rgb(243, 234, 95);
    position: relative;
    left: 10%;
    width: 80%;
}

section > div {
    /* font is 'Comic Sans MS, text is automatically adjusted to lowercase do not mod the HTML */
    font-family: "Comic Sans MS";
    text-transform: lowercase;
    width: 80%;
    -webkit-text-fill-color: white;
    font-size: 14pt;
}

section > div:nth-child(2):after {
    content: " ";
}

section > div:nth-child(odd):before {
    content: " ";
}

section > div:nth-child(odd) {
    /* ANastNthChildSelectorToWrite means what it says it isn't an indetifier */
    /* background color is  rgb(192,77,249) */
    height: 40px;
    background: rgb(192, 77, 249);
    position: relative;
    left: 50%;
    width: 50%;
}

section > div:nth-child(even) {
    /* ANastNthChildSelectorToWrite means what it says it isn't an indetifier */
    /* background color is  rgb(43,209,252) */
    height: 40px;
    background: rgb(43, 209, 252);
    position: relative;
    text-align: right;
    width: 50%;
}

section > div:nth-child(1) {
    top: 120px;
}

section > div:nth-child(2) {
    top: 40px;
}

section > div:nth-child(3) {
    top: -40px;
}

section > div:nth-child(4) {
    top: -120px;
}

#column-content section > div {
    vertical-align: middle;
    line-height: 15px;
}

section > div:nth-child(3):after {
    /* gave you the nth child after selector for free to inspire you */
    /* generated content in here ... a property can do that */
    content: "  ♥♥♥";
}

/* a freebie for fun */
aside {
    background: rgb(255,63,63);
    color: white;
    border: 1rem solid black;
    border-top-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    border-top-right-radius: 3rem;
    border-bottom-left-radius: 3rem;
    font-family: sans-serif;
    font-size: 2rem;
    margin: 1rem 0;
    padding: 1rem;
    text-align: center;
}


/* Opps truncated the file for you to fill in */

/* Solution given should be below 250 lines, solution we had was below 200 easily */