/*
CSS File size: 6kb;
Load time on Android phone: 2 seconds;
*/



main {
	font-family: Arial;
	background: rgb(255,255,255);

}

main > header {
	font-size: 65px;
	font-weight: bold;
	color: royalblue;

}

main > nav {
	margin-left: 10px;
}

main > nav > a {
	color: royalblue;
	margin-right: 30px;
	text-decoration: none;
}

main > form > input {
	width: 300px;
	height: 22px;
	margin-bottom: 5px;
}

main > form > input {
	color: grey;
}

main > label {
	font-size: 16px;
	font-weight: bold;
}

button {
    background-color: royalblue;
    border: none;
	border-radius: 6px;
    color: white;
    padding: 9px 18px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}